/.vscode
/js/Tile.js
/node_modules
package-lock.json
/js/output.js
/js/output.js.map
/Report/MineSweeper02.aux
/Report/MineSweeper02.log
/Report/MineSweeper02.pdf
/Report/MineSweeper02.synctex.gz
/Report/MineSweeper02.toc
/Report/.vscode
Python/__pycache__